@model ITCompany.Models.LoginModel

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITCompany</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ITCompany  </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if(User.Identity.IsAuthenticated)
                        {
                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
                            </li>

                            if(User.IsInRole("Директор"))
                            {
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Clients">Клієнти</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Employees">Працівники</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Посади</a>
                                </li>
                            }

                            if(User.IsInRole("Клієнт"))
                            {
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Employees">Працівники</a>
                                </li>
                            }
                            if(User.IsInRole("HR Manager"))
                            {
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Employees">Працівники</a>
                                </li>
                            }
                            if(!User.IsInRole("HR Manager") && !User.IsInRole("Клієнт") && !User.IsInRole("Директор"))
                            {
                                @*TODO ADD FOR EMPLOYEES LINKS...*@
                                @*<li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Employees">Працівники</a>
                                </li>*@
                            }
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Details">Мій профіль</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Вийти</a>
                            </li>
                        }
                        else
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Логін</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Реєстрація</a>
                                </li>
                            </ul>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <h2>Вхід на сайт</h2>
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                        <div class="validation" asp-validation-summary="ModelOnly"></div>
                        <div>
                            <div class="form-group">
                                <label asp-for="Login" class="control-label">Логін</label>
                                <input type="text" asp-for="Login" class="form-control" />
                                <span asp-validation-for="Login" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label">Пароль</label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Війти" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>